@import "../base/variable.scss";
@import "../base/mixin.scss";

.card {
  min-height: 268px;
  .card-wrapper {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: $card-border;
    border-radius: $border-radius;
  }
  .focus {
    border: $card-border-focus;
    border-radius: $border-radius;
  }

  .card-top,
  .card-bottom {
    height: 55px;
    line-height: 55px;
  }

  .card-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 12px 12px 0 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    button {
      font-size: 17px;
      background-color: $color-white;
    }
    .card-arrow-btn {
      margin-left: 5px;
    }
    .card-src-exchange-btn {
      img {
        width: 23px;
        height: 23px;
      }
    }
  }
  .card-mid {
    padding: 25px 20px;
  }

  .card-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;

    .card-bottom-copy-btn {
      border-radius: 0 0 0 12px;
    }
    .card-bottom-copy-btn,
    .card-bottom-share-btn {
      background-color: $color-white;
      padding: 10px 15px;
      border-right: 1px solid rgba(0, 0, 0, 0.05);
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@include desktop {
  .card {
    margin: 0 4px;
    width: 50%;
  }
  .card-mid {
    min-height: $textArea-height-desktop;
  }
  .card-tg-btn-container.src {
    display: none;
  }
}

@include tablet {
  .card {
    margin: 10px;
    width: 100%;
    .card-top {
      display: flex;
      justify-content: space-between;
      position: relative;

      .card-src-exchange-btn {
        border: $card-border;
        border-radius: 20px;
        padding: 3px 10px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }

    .card-mid {
      min-height: $textArea-height-tablet;
    }
  }
}

@include mobile {
  .card {
    width: 100%;
    margin: 0;
    min-height: 155px;

    .card-wrapper {
      border: 0;
      border-radius: 0;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .card-top,
    .card-bottom {
      height: 45px;
      line-height: 45px;
    }

    .card-top {
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      position: relative;

      .card-src-exchange-btn {
        border: $card-border;
        border-radius: 20px;
        padding: 3px 10px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    .card-mid {
      min-height: $textArea-height-mobile;
    }
    .card-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;

      border-top: 0;
      border-radius: 0;
      border-bottom: $card-border;

      .card-bottom-copy-btn,
      .card-bottom-share-btn {
        background-color: $color-white;
        padding: 10px;
        border: 0;
        border-radius: 0;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
