@import "../base/variable.scss";
@import "../base/mixin.scss";

.header {
  height: 75px;
  display: flex;
  align-items: center;
  img {
    height: 33px;
    margin: 0 30px;
  }
  span {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
  }
  border-bottom: $layout-border;
}

@include mobile {
  .header {
    border-bottom: 0;
    height: 50px;
    img {
      height: 26px;
      margin: 0 20px;
    }
    span {
      font-size: 15px;
    }
  }
}
