@import "../base/variable.scss";
@import "../base/mixin.scss";

.main {
}

@include desktop {
  .main {
    background-color: rgb(221, 201, 201);
    padding: 60px 5vw;
  }
  .card-container {
    display: flex;
  }
}

@include tablet {
  .main {
    background-color: rgb(192, 214, 194);
    padding: 60px 40px;
  }
  .card-container {
  }
}

@include mobile {
  .main {
    background-color: aliceblue;
    padding: 0;
  }
  .card-container {
  }
}
