@import "../base/variable.scss";
@import "../base/mixin.scss";

.main {
}

@include desktop {
  .main {
    padding: 55px 5vw;
  }
  .card-container {
    display: flex;
  }
}

@include tablet {
  .main {
    padding: 35px 40px;
  }
}

@include mobile {
  .main {
    padding: 0;
  }
}
