@import "../base/variable.scss";
@import "../base/mixin.scss";

.card-mid {
  width: 100%;

  .card-mid-textarea {
    font-size: 18px;
    resize: none;
    width: 90%;
  }
  .card-mid-textarea::placeholder {
    color: $color-textarea;
    font-size: 30px;
  }
}

.card-bottom {
  .card-bottom-translate-btn {
    width: 134px;
    background-color: $color-green;
    color: $color-white;
    border-radius: 0 0 12px 0;
    font-size: 20px;
  }
  .card-bottom-translate-btn {
    .short {
      display: none;
    }
  }
}

@include desktop {
  .card-mid {
    .card-mid-textarea {
      min-height: $textArea-height-desktop;
    }
  }

  .card-tg-btn-container.src {
    display: none;
  }
}

@include tablet {
  .card-mid {
    .card-mid-textarea {
      min-height: $textArea-height-tablet;
    }
  }
  .card-src-btn-container.src,
  .card-tg-btn-container.src {
    text-align: center;
    width: 50%;
  }
  .card-tg-btn-container.src {
    display: block;
  }
}

@include mobile {
  .card-src-btn-container.src,
  .card-tg-btn-container.src {
    text-align: center;
    width: 50%;
  }
  .card-tg-btn-container.src {
    display: block;
  }

  .card-mid {
    .card-mid-textarea {
      min-height: $textArea-height-mobile;
    }
    .card-mid-textarea::placeholder {
      font-size: 18px;
    }
  }
  .card-bottom {
    .card-bottom-translate-btn {
      background-color: $color-green;
      border-radius: 20px;
      box-shadow: 0 5px 10px 0 rgba(0, 215, 88, 0.2), 0 0 1px 0 #0000000f;
      margin-right: 15px;

      font-size: 15px;
      font-weight: 700;
      white-space: nowrap;

      height: 37px;
      line-height: 38px;
      width: inherit;
      min-width: 74px;
    }
    .card-bottom-translate-btn {
      .short {
        display: block;
      }
      .long {
        display: none;
      }
    }
  }
}
