@import "../base/variable.scss";
@import "../base/mixin.scss";

.card-mid-content {
  padding: 15px;
  font-size: 20px;
}
@include desktop {
  .card-tg-btn-container.tgt {
    display: block;
  }
}

@include tablet {
  .card-tg-btn-container.tgt {
    display: none;
  }
}

@include mobile {
  .card-top.tgt,
  .card-tg-btn-container.tgt {
    display: none;
  }
  .card-mid-content {
    font-size: 18px;
  }
}
