@import "../base/variable.scss";
@import "../base/mixin.scss";

@include desktop {
  .card-tg-btn-container.tgt {
    display: block;
  }
}

@include tablet {
  .card-tg-btn-container.tgt {
    display: none;
  }
}

@include mobile {
  .card-tg-btn-container.tgt {
    display: none;
  }
}
