$color-white: #fff;
$color-black: #000;
$color-green: #1eda69;
$fontColor-green: #0fb74c;
$color-blue: #1caafc;

$bgc-footer: #fbfbfb;

$border-color: #ddd;
$border-radius: 12px;
$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
$border-style: 1px solid #ddd;

$font-family: -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, helvetica,
  noto, notojp, notokr, Microsoft YaHei, Malgun Gothic, 맑은 고딕, Dotum, 돋움,
  sans-serif;
